body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    background-color: rgb(0, 0, 0);
    color: white;

    font-family: inter;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
nav {
    width: 100%;
    height: 72px;
    position: fixed;
    
    background-color: rgb(0, 0, 0);
}

.temp a {
    text-decoration: none;
    color: white;
}

nav h1 {
    margin: 16px 0 0 59px;
    float: left;

    font-family: 'Inter';
    font-size: 28px;
    font-weight: 700;

    color: #C71717;
}

nav p {
    position: absolute;
    top: 34px;
    left: 78px;

    font-family: 'Fira Sans';
    font-size: 11px;

    color: white;
}

.all {
    display: flex;
    justify-content: space-around;
    gap: 18px;

    float: right;
    margin: 0 32px 0 0;
}

.lupa, .star, .profile {
    margin-top: 14px;
    padding: 10px;

    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #902811;
}

.menu {
    position: relative;
    display: inline-block;
    margin: 16px 0 0 63px;
}
  
.btn {
    background-color: black;
    color: white;

    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

  
.content {
    display: none;
    position: absolute;
    background-color: #222;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
  
.content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}
  
.content a:hover {
    background-color: #444;
}
  
.menu:hover .content {
    display: block;
}

main {
    margin: auto;
    width: 880px;
}

.left {
    position: absolute;
    
    width: 575px;
    height: 577px;
    flex-shrink: 0; 
    z-index: -1;
}

.container {
    display: flex;
    align-items: center;

    gap: 50px;
}

.anime-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 70px;
}

.poster {
    margin-top: 140px;
    margin-bottom: 20px;
    width: 324px;
    height: 482px;
}

.logo {
    width: 482px;
    height: 145px;
    margin-top: 50px;
}

.anime-information {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;
    width: 255px;
    top: -20px;
    color: #E1E1E1;
}

.anime-information img {
    width: 24px;
    height: 24px;
}

.circle {
    position: relative;
    float: left;

    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #DADADA;
}

.sinopse {
    font-size: 13px;
    width: 468px;
    height: 170px;
    border-radius: 8px;
    padding-left: 22px;
    

    background: rgba(109, 105, 105, 0.30);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 436px;
    margin-top: 16px;
    margin-bottom: 32px;
}


.tag {
    width: 80px;
    height: 16px;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 11px;
    margin: 0;

    text-align: center;
    
    color: rgba(255, 255, 255, 0.85);
    background-color: #E71919;

}

.temporada {
    width: 880px;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 18px;
    background: #212020;
}

.temp {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;

}
.epi {
    display: flex;
}

.icon-play {
    margin-left: 8px;
}

.play {
    display: flex;
    justify-content: center; 
    align-items: center;
    
    gap: 8px;
    width: 142px;
    height: 22px;
    border-radius: 4px;
    margin: 14px 26px 0 0;

    background-color: #C71717;
}

.play p {
    display: flex;
    margin:0;
    justify-content: center;
    font-size: 12px;
    
}

.adicionar-favorito {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin: 0;
}

.fav {
    color: #FFFFFF;
    opacity: 60%;
    font-size: 12px;
}

.comment-container {
    margin-top: 120px;
    margin-bottom: 160px;
}
.icone-comment img {
    margin-right: 8px;
}

.icone-comment {
    display: flex;
}

.ball-gray {
    background-color: rgba(217, 217, 217, 0.50);
    position: absolute;
    
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-left: 12px;
    top: 6px;
}

.comment-input{
    margin-bottom: 8px;
    position: relative;
}

.comment-input input{
    display: flex;
    width: 800px;
    height: 64px;
    border-radius: 4px;
    padding-left: 80px;
    
    background: rgba(33, 32, 32, 0.70);
    
    border: none;
}

.placeholder {
    font-size: 20px;
}

.icone {
    position: absolute;

    width: 23.4px;
    height: 26px;
    margin: 18px 0 24px 26px;
}


.comment-input p {
    color: #FFFFFF;
    opacity: 80%;
    font-size: 14px;

    text-align: center;
}


footer {
    display: flex;
    position: relative;
    background: linear-gradient(0deg, rgba(144, 40, 17, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
    width: 100%;

}

.rodape {
    display: flex;
    justify-content: space-between;

    gap: 100px;
    margin-left: 80px;
    margin-bottom: 20px;
    width: 820px;
}

footer p {
    color: rgba(255, 255, 255, 0.80);
    margin-bottom: 10px;
    font-size: 14px;
}

footer a {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;

    font-size: 12px;
    margin-bottom: 4px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.contato-linha {
    display: flex;

    gap: 12px;
    margin-top: 8px;
}

.contato-item {
    display: flex;
    gap: 6px;
}

.contato-item img {
    width: 16px;
    height: 16px;   

}
#item {
    margin-right: 34px;
}

#tiktok {
    width: 22px;
    height: 22px;
}

.separador {
    color: rgb(189, 189, 189);
    font-size: 18px;
}

.footer-conta {
    display: flex;
    flex-direction: column;
}

.footer-direitos span {
    color: #FFFFFF;
}

.text {
    position: absolute;
    right: 0;
    margin-right: 48px;
    font-size: 18px;
    margin-left: 600px;
    bottom: 30px;
    
    color: rgba(255, 255, 255, 0.60);
    text-align: right;
}
